<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"  crossorigin="anonymous" />
        <title>hy-tikape-s18 ht2</title>
    </head>
    <body>
        <header>
            <!-- Fixed navbar -->
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
              <a class="navbar-brand" th:href="@{~/}">Kysymyssovellus</a>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" th:href="@{~/kurssit}">Kurssit</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" th:href="@{~/kysymykset}">Kysymykset ja vastaukset</a>
                  </li>
                </ul>
              </div>
            </nav>
        </header>
        <!-- Begin page content -->
        <main role="main" class="container">
            <h4 style="padding-top: 70px" class="mt-5" th:text="${otsake}">Hallinnoi kursseja, kysymyksiä ja vastauksia.</h4>
            <br />
            <span th:text="${statistiikka}"></span>
        </main>
           
       
        <!-- bootstrap requirements -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"  crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"  crossorigin="anonymous"></script>
        <!-- Icons -->
        <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
        <script>
          feather.replace();
        </script>
    </body>
</html>
