<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Kurssit</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"  crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    </head>
    <body>
        <header>
            <!-- Fixed navbar -->
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
              <a class="navbar-brand" th:href="@{~/}">Kysymyssovellus</a>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" th:href="@{~/kurssit}">Kurssit</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" th:href="@{~/kysymykset}">Kysymykset ja vastaukset</a>
                  </li>
                </ul>
              </div>
            </nav>
        </header>
        <main role="main" class="container">
            <h3 style="padding-top: 70px" class="mt-5" th:text="${otsake}">otsake</h3>
            <table class="table table-striped table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th style="width: 30%" scope="col">Kurssi</th>
                        <th scope="col">Kysymykset</th>
                        <th scope="col">Poista</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="kurssi : ${kurssit}">
                        <td th:text="${kurssi.nimi}"></td>
                        <td>
                            <table>
                                <tr th:each="kysymys : ${kurssi.kysymykset}">
                                    <td>
                                        <button type="button" class="btn btn-link" data-toggle="collapse" th:text="${kysymys.teksti}" th:data-target="'#kys' + ${kysymys.id}" aria-expanded="false" th:aria-controls="'#' + ${kysymys.id}"></button>
                                        <div class="collapse" th:id="'kys' + ${kysymys.id}">
                                            <ol>
                                                <li th:each="vastaus : ${kysymys.vastaukset}">
                                                    <div th:text="${vastaus.teksti}">vastaus</div>
                                                </li>
                                            </ol>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td >
                            <form method="POST" th:action="@{~/kurssi/{id}/poista(id=${kurssi.id})}">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-trash"></i></button>
                            </form>
                        </td>
                    </tr>
                </tbody>   
            </table>
            <form method="POST" action="/kurssit">
                <div class="form-group">
                    <label for="kurssiNimi" th:text="${lisaa}"><strong>Lisää kurssi</strong></label>
                    <input type="text" class="form-control" id="kurssiNimi" aria-describedby="tekstiApu" placeholder="Kurssin nimi" name="nimi" />
                    <small id="tekstiApu" class="form-text text-muted">Anna kurssille raflaava nimi</small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </main>
        <!-- bootstrap requirements -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"  crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"  crossorigin="anonymous"></script>
        <!-- Icons -->
        <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
        <script>
          feather.replace();
        </script>
    </body>
</html>
