<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Kurssit</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"  crossorigin="anonymous" />
    </head>
    <body>
        <header>
            <!-- Fixed navbar -->
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
              <a class="navbar-brand" th:href="@{~/}">Kysymyssovellus</a>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" th:href="@{~/kurssit}">Kurssit</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" th:href="@{~/kysymykset}">Kysymykset ja vastaukset</a>
                  </li>
                </ul>
              </div>
            </nav>
        </header>
        <main role="main" class="container">
            <h3 style="padding-top: 70px" class="mt-5" th:text="${otsake}">otsake</h3>
            <table class="table table-striped table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th style="width: 10%" scope="col">Kurssi id</th>
                        <th scope="col">Aihe</th>
                        <th style="width: 30%" scope="col">Kysymys</th>
                        <th scope="col">Vastaukset</th>
                        <th scope="col">Poista</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="kysymys : ${kysymykset}">
                        <td th:text="${kysymys.kurssi_id}"></td>
                        <td th:text="${kysymys.aihe}"></td>
                        <td th:text="${kysymys.teksti}"></td>
                        <td>
                            <table>
                                <tr th:each="vastaus : ${kysymys.vastaukset}">
                                    <td>
                                        <input type="text" th:value="${vastaus.teksti}" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td >
                            <form method="POST" th:action="@{~/kysymys/{id}/poista(id=${kysymys.id})}">
                                <button type="submit" class="btn btn-primary">Poista</button>
                            </form>
                        </td>
                    </tr>
                </tbody>   
            </table>
            <form method="POST" action="/kysymykset">
                <div class="form-group">
                    <label for="kysymysTeksti" th:text="${lisaa}">Lisää kysymys</label>
                    <input type="text" class="form-control" id="kysymysTeksti" aria-describedby="tekstiApu" placeholder="Kysymyksen teksti" name="teksti" />
                    <small id="tekstiApu" class="form-text text-muted">Anna kysymyksen teksti</small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </main>
        <!-- bootstrap requirements -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"  crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"  crossorigin="anonymous"></script>
        <!-- Icons -->
        <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
        <script>
          feather.replace();
        </script>
    </body>
</html>

