<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Kurssit</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"  crossorigin="anonymous" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" />
    </head>
    <body>
        <header>
            <!-- Fixed navbar -->
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
              <a class="navbar-brand" th:href="@{~/}">Kysymyssovellus</a>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" th:href="@{~/kurssit}">Kurssit</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" th:href="@{~/kysymykset}">Kysymykset ja vastaukset</a>
                  </li>
                </ul>
              </div>
            </nav>
        </header>
        <main role="main" class="container">
            <h3 style="padding-top: 70px" class="mt-5" th:text="${otsake}">otsake</h3>
            <button style="padding-top: 10px" type="button" class="btn btn-outline-primary" data-toggle="collapse" th:text="${lisaa}" data-target="#lisaaWrapper" aria-expanded="false" aria-controls="lisaaWrapper"></button>
            <div style="padding-top: 10px; padding-bottom: 10px" class="collapse" id="lisaaWrapper">
                <form method="POST" action="/kysymykset">
                    <div class="form-group">
                        <label for="kurssiSelect">Valitse kurssi</label>
                        <select name="kurssi" class="form-control" id="kurssiSelect" aria-describedby="tekstiApu1">
                            <option th:each="kurssi : ${kurssit}" th:text="${kurssi.nimi}" th:value="${kurssi.id}"></option>
                        </select>
                        <small id="tekstiApu1" class="form-text text-muted">Valitse kurssi</small>
                    </div>
                    <div class="form-group">
                        <input type="text" maxlength="256" class="form-control" id="kysymysAihe" aria-describedby="tekstiApu2" placeholder="Kysymyksen aihe" name="aihe" />
                        <small id="tekstiApu2" class="form-text text-muted">Anna kysymyksen aihe</small>
                    </div>
                    <div class="form-group">
                        <input type="text" maxlength="1024" class="form-control" id="kysymysTeksti" aria-describedby="tekstiApu3" placeholder="Kysymyksen teksti" name="teksti" />
                        <small id="tekstiApu3" class="form-text text-muted">Anna kysymyksen teksti</small>
                    </div>
                    <button type="submit" class="btn btn-outline-success"><i class="far fa-save"></i></button>
                </form>
            </div>
            <br />
            <table class="table table-striped table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th style="width: 15%" scope="col">Kurssi</th>
                        <th scope="col">Aihe</th>
                        <th style="width: 30%" scope="col">Kysymys</th>
                        <th style="width: 35%" scope="col">Vastaukset</th>
                        <th style="text-align: center" scope="col">Poista kysymys</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="kysymys : ${kysymykset}">
                        <td th:text="${kysymys.kurssi_id}"></td>
                        <td th:text="${kysymys.aihe}"></td>
                        <td th:text="${kysymys.teksti}"></td>
                        <td>
                            <table>
                                <tr th:each="vastaus : ${kysymys.vastaukset}">
                                    <td>
                                        <div th:text="${vastaus.teksti}"></div>
                                    </td>
                                    <td>
                                        <i th:class="${vastaus.oikein} ? 'fas fa-check' : 'fas fa-times'"></i>
                                    </td>
                                    <td>
                                        <form method="POST" th:action="@{~/vastaus/{id}/poista(id=${vastaus.id})}">
                                            <button type="submit" class="btn btn-outline-danger"><i class="fa fa-trash"></i></button>
                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <form method="POST" th:action="@{~/kysymys/{id}/vastaus(id=${kysymys.id})}">
                                            <input type="text" maxlength="256" name="teksti" placeholder="Uusi vastaus"/>
                                            <i style="cursor: pointer" class="fas fa-check" th:id="'rw' + ${kysymys.id}" onclick="toggleRightWrong(this)"></i>
                                            <input th:id="'rw' + ${kysymys.id} + 'oikein'" type="hidden" value="1" name="oikein" />
                                            <button  type="submit" class="btn btn-outline-success"><i class="far fa-save"></i></button>
                                        </form>
                                    </td>
                                    <td>
                                        
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="text-align: center">
                            <form method="POST" th:action="@{~/kysymys/{id}/poista(id=${kysymys.id})}">
                                <button type="submit" class="btn btn-outline-danger"><i class="fa fa-trash"></i></button>
                            </form>
                        </td>
                    </tr>
                </tbody>   
            </table>
            
            
        </main>
        <!-- bootstrap requirements -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"  crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"  crossorigin="anonymous"></script>
        <!-- Icons -->
        <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
        <script>
          feather.replace();
          
          const toggleRightWrong = (e) => {
              console.log(e)
              const inp = document.getElementById(e.id + 'oikein')
              if(e.className == 'fas fa-check') {
                  e.className = 'fas fa-times'
                  inp.value = "0"
              } else {
                  console.log('else')
                  e.className = 'fas fa-check'
                  inp.value = "1"
              }
              console.log('input', inp)
              
          }
        </script>
    </body>
</html>

